@import url("https://fonts.googleapis.com/css?family=Nunito");

.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: black;
  font-family: "Nunito";
  margin: 20px;
  padding-top: 40px;
}

.input {
  border-radius: 20px;
  font-family: "Nunito";
  padding-left: 20px;
  color: black;
}

.flex {
  display: flex;
  margin-left: 20px;
  color: black;
}

.search {
  background-color: white;
  width: 200px;
  height: 45px;
  margin-top: 5px;
  border-radius: 10px;
  padding-left: 10px;
  color: black;
}

.iconsContainer {
  display: flex;
  justify-content: space-between;
}

.iconsContainer > * {
  margin-right: 10px;
}

.charts {
  margin-top: 10px;
}

.buttonsize {
  width: calc(25% - 40px);
  margin-top: 20px;
}

.box1 {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 15px);
  height: 130px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  padding-right: 50px;
  padding-left: 50px;
}

.insidebox1 {
  color: black;
  font-family: "Nunito";
}

.number {
  font-family: "Nunito";
  color: black;
  margin-left: 5px;
}

.box2 {
  width: calc(100% - 10px);
  height: 500px;
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

.dropdownButton {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #f2f7ff;
  color: rgb(96, 96, 96);
}

.black {
  font-family: "Nunito";
  color: black;
}
.grey {
  font-family: "Nunito";
  color: rgb(42, 41, 41);
}

.marginbox2 {
  margin-left: 10px;
  margin-right: 10px;
}

.margintitlebox2 {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}

.flextitle {
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.blue {
  font-family: "Nunito";
  color: #0d44b1;
}

